In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [6]:
df=pd.read_csv("mpg .txt")

In [7]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [8]:
data=sns.load_dataset("mpg")

In [9]:
print(data)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
393  27.0          4         140.0        86.0    2790          15.6
394  44.0          4          97.0        52.0    2130          24.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year  origin                       name
0            70     usa  chevrolet chevelle malibu
1            70     usa          buick skylark 320
2            70     usa         plymouth satellite
3            70     usa              amc rebel sst
4            70     usa                ford torino
..          ...     ...                        ...
393          82     usa            ford mustang gl
394          82  europe                  vw pickup
395          82     usa              dodge rampage
396          82     usa                ford ranger
397          82     usa                 chevy s-10

[398 rows x 9 columns]

In [10]:
print(data.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model_year origin                       name
0          70    usa  chevrolet chevelle malibu
1          70    usa          buick skylark 320
2          70    usa         plymouth satellite
3          70    usa              amc rebel sst
4          70    usa                ford torino

# create a copy of your actual data

In [11]:
mpg_data=data.copy()

In [15]:
print(mpg_data.head(2))

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5

   model_year origin                       name
0          70    usa  chevrolet chevelle malibu
1          70    usa          buick skylark 320

## Basic information check

In [16]:
mpg_data.shape

(398, 9)

In [18]:
print(mpg_data.dtypes)

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model_year        int64
origin           object
name             object
dtype: object

In [19]:
print(mpg_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB
None

### Fill those null values  with 0

In [20]:
mpg_data["horsepower"]=mpg_data["horsepower"].fillna(0)

In [21]:
mpg_data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64

### Simple Linear Regression

#### Problem - I want to create a predictive model for prediction of mileage per gallon 
####  based on - weight

In [22]:
y=mpg_data["mpg"]
print(y)

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [23]:
x=mpg_data["weight"]
print(x)

0      3504
1      3693
2      3436
3      3433
4      3449
       ...
393    2790
394    2130
395    2295
396    2625
397    2720
Name: weight, Length: 398, dtype: int64

In [24]:
y.shape

(398,)

In [25]:
x.shape

(398,)

###### Process 1

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
training,testing=train_test_split(mpg_data,test_size=0.2)

In [29]:
training.shape

(318, 9)

In [30]:
testing.shape

(80, 9)

In [31]:
training.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
189,15.5,8,304.0,120.0,3962,13.9,76,usa,amc matador
329,44.6,4,91.0,67.0,1850,13.8,80,japan,honda civic 1500 gl
106,12.0,8,350.0,180.0,4499,12.5,73,usa,oldsmobile vista cruiser

In [32]:
testing.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
62,13.0,8,350.0,165.0,4274,12.0,72,usa,chevrolet impala
254,20.2,6,200.0,85.0,2965,15.8,78,usa,ford fairmont (auto)
199,20.0,6,225.0,100.0,3651,17.7,76,usa,dodge aspen se

#### Process 2

In [33]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [36]:
print(x_train.shape,y_train.shape)

(318,) (318,)

In [37]:
print(x_test.shape,y_test.shape)

(80,) (80,)